<!-- This is the login page. 
<div *ngIf="isUserLogged"> LOGGED SUCCESSFULLY :) </div>
<div *ngIf="userService.isLogged"> SAME SUCCESSFULLY :) </div>

<div *ngIf="!isUserLogged"> LOGGED UNSUCCESSFULLY :( </div>
<div *ngIf="!userService.isLogged"> SAME UNSUCCESSFULLY :( </div>

<div *ngIf="isUserAdmin"> You DA boss :) </div>
<div *ngIf="userService.isAdmin"> big boss :) </div>

<div *ngIf="!isUserAdmin"> Not DA boss :( </div>
<div *ngIf="!userService.isAdmin"> no boss :( </div>
  

{{isUserLogged}}
{{userService.isLogged}}

{{isUserAdmin}}
{{userService.isAdmin}}
 -->
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <td scope="row" class="col-md-5"><a routerLink="/main-page" routerLinkActive="active" class="btn btn-primary">Home</a> / <a routerLink="/user-page" routerLinkActive="active" class="btn btn-primary">User Page</a> / <a routerLink="/requests-page" routerLinkActive="active" class="btn btn-primary">Requests</a> / <a routerLink="/request-creation" routerLinkActive="active" class="btn btn-primary">Create Request</a>
      
      <a *ngIf="userService.isLogged" style="float: right;" routerLink="/login" routerLinkActive="active" class="btn btn-warning" (click)="userService.logout()">Logout</a>
      <div style="float: right;"> &nbsp; </div>
      <a *ngIf="userService.isLogged && userService.isAdmin" style="float: right;" routerLink="/user" routerLinkActive="active" class="btn btn-info">Add Users</a>
      <a *ngIf="!userService.isLogged" style="float: right;" routerLink="/login" routerLinkActive="active" class="btn btn-warning" >Login</a>
      <router-outlet></router-outlet></td>
    </tr>
  </tbody>
</table>

<div class="login-panel" style="padding-top: 10%;">
<h3 *ngIf="!userService.isLogged" style="text-align: center;"> Log In / Try Again </h3>

<h3 *ngIf="userService.isLogged" style="text-align: center;"> Welcome </h3>
<!-- <ng-template #create>
   <h3> Log In </h3>
</ng-template> -->
<!-- <div> -->
<!-- (ngSubmit)="onUserFormSubmit()" -->	
 <form [formGroup]="userForm">
  <table style="margin: auto;">
    <tr><td>Enter Email</td><td><input formControlName="email" #email>
	       <label *ngIf="userForm.get('email').invalid && processValidation" [ngClass] = "'error'"> Email is required. </label>
   	</td></tr>
    <tr><td>Enter Password</td><td><input formControlName="password" type="password" #password>
	       <label *ngIf="userForm.get('password').invalid && processValidation" [ngClass] = "'error'"> Password is required. </label>
	  </td></tr>	
    <tr><td colspan="2">
	    <button (click)="login(email.value, password.value)">Log in</button>

	  </td></tr>
  </table>
 </form> 
</div>

<!-- <h3>User Details</h3>
<table>
  <tr><th> Id</th> <th>Email</th><th>Password</th><th></th></tr>
  <tr *ngFor="let user of allUsers" >
    <td>{{user.userId}}</td> <td>{{user.email}}</td> <td>{{user.password}}</td>
  <td><button type="button" (click)="loadUserToEdit(user.userId)">Edit</button> </td> 
  </tr>
</table> -->