<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Time-off System</title>
  </head>

  <body>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Time-off System</h1>
          <h3>Organise your workflow</h3>
          <hr class="intro-divider">
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">We help you manage your time,<br>so you don't have to do it alone</h2>
            <p class="lead">Using this service your request can be easily viewed, reviewed and a response will be given much quicker than normal.</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/ipad.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Enjoy your personal time<br>without worries</h2>
            <p class="lead">You can be sure that our system won't missmanage your request allowing you to rest without second thoughts
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/dog.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Anywhere,<br>at anytime</h2>
            <p class="lead">You can use our system from various devices allowing for a much more flexible use.</p>
          </div>
          <div class="col-lg-5 mr-auto ">
            <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/phones.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>

  </body>

</html>
