<html *ngIf="userService.isLogged">
	<body><!--  *ngIf="userService.isLogged"> -->
		<!--<div class="panel panel-default">
			<div class="panel-body"><a href="#">Home</a> / <a href="#">Requests</a> / Request</div>
		</div>-->
		
	<!-- <h3>Request Details</h3>
	<table class="table table-bordered">
	  <tr><th> ID</th> <th>Dates</th><th>Days</th><th>Note</th><th>Reason</th><th>Status</th><th>Submit Time</th><th>Type</th><th>User ID</th><th></th><th></th></tr>
	  <tr *ngFor="let request of allRequests" >
	    <td>{{request.id}}</td> <td>{{request.dates}}</td> <td>{{request.days}}</td><td>{{request.note}}</td>
	    <td>{{request.reason}}</td>
	    <td>{{request.status}}</td>
	    <td>{{request.submit_time}}</td>
	    <td>{{request.type}}</td>
	    <td>{{request.user_id}}</td>
	  	<td><button type="button" (click)="loadRequestToEdit(request.id)">Edit</button> </td> 
		<td><button type="button" (click)="deleteRequest(request.id)">Delete</button></td>
	  </tr>
	</table> -->

		<table class="table table-bordered table-striped">
			<tbody>
				<tr>
					<td scope="row" class="col-md-5"><a routerLink="/main-page" routerLinkActive="active" class="btn btn-primary">Home</a> / <a routerLink="/requests-page" routerLinkActive="active" class="btn btn-primary">Requests</a> / <a routerLink="/request-creation" routerLinkActive="active" class="btn btn-success">Create Request</a>
					

				    <a *ngIf="userService.isLogged" style="float: right;" routerLink="/login" routerLinkActive="active" class="btn btn-warning" (click)="userService.logout()">Logout</a>
				    <div style="float: right;"> &nbsp; </div>
				    <a *ngIf="userService.isLogged && userService.isAdmin" style="float: right;" routerLink="/user" routerLinkActive="active" class="btn btn-info">Add Users</a>
				    <a *ngIf="!userService.isLogged" style="float: right;" routerLink="/login" routerLinkActive="active" class="btn btn-warning" >Login</a>
					<router-outlet></router-outlet></td>
				</tr>
			</tbody>
		</table>
	
		<h1>Create Request</h1>
	
		<table class="table borderless">
			<!--<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
				</tr>
			</thead>-->

			<tbody>
				<tr>
					<th scope="row">Absence Type</th>
				</tr>
				<tr>
					<td>
						<select scope="row selectpicker" [(ngModel)]="requestType" (ngModelChange)="onChange($event)">
						  <!-- <option value="pto">PTO</option>
						  <option value="pto2">PTO2</option>
						  <option value="pto3">PTO3</option>
						  <option value="pto4">PTO4</option> -->
						  <option *ngFor="let request of requestOptions" [ngValue]="request.type">{{request.name}}</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<th scope="row">Reason</th>
				</tr>
				<tr>
					<td>
						<textarea [(ngModel)]="reason"></textarea>
					</td>
				</tr>
				
				<tr>
					<th>Note</th>
				</tr>
				<tr>
					<td>
						<textarea [(ngModel)]="note"></textarea>
					</td>
				</tr>
				
				<tr>
					<td align="center">
						<strong>PTO Left:</strong> 15
					</td>
				</tr>
						
				<tr>
					<td scope="row">
						<b>Mail list</b>
						<br><br>
						<textarea [(ngModel)]="emailReceiver"></textarea>
						<!-- <input type="text" value=""> -->
				 		<br><br>
						<button (click)="onRequestFormSubmit()" routerLink="/requests-page" routerLinkActive="active" class="btn btn-success"><!-- (click)="onRequestFormSubmit()"> -->
							Create
						</button>
					</td>
				</tr>

				<!-- 
				<tr>
					<th scope="row">
						<div class="grey-panel">
							
							<app-rc-calendar></app-rc-calendar>
						</div>
					</th>
				</tr> -->
			</tbody>
		</table>

		
		
		<div class="float-center" style="padding-top: 5%;">
			<div style="float: right;">
			<strong>Info:</strong>
				<ul>
					<li>
						Click on <strong>EVERY</strong> date you want to select.
					</li>
				  
					<li>
						<font class="attention-text">red</font> colored are National Holidays (not working day).
					</li>
				  
					<li><font class="blue-text">blue</font> colored dates are special not working days, usually ignored in <a href="#">MentorMate.</a>
						<br>
						See instructions on how to book them in <a href="#">Confliuence</a>. 
					</li>
				</ul>
			</div>
			<div style="max-width: 50vw;">
				<app-rc-calendar></app-rc-calendar>
			</div>
		</div>		

		<!-- <app-rc-calendar></app-rc-calendar> -->

		<!-- <h3 *ngIf="requestIdToUpdate; else create"> 
	    Update Request for Id: {{requestIdToUpdate}}
	  	</h3>
	  	<ng-template #create>
	     <h3> Create New Request </h3>
	  	</ng-template> -->

	    <!-- <form [formGroup]="requestForm" (ngSubmit)="onRequestFormSubmit()">
	      <table>
	        <tr><td>Enter Dates</td><td><input formControlName="dates">
	             <label *ngIf="requestForm.get('dates').invalid && processValidation" [ngClass] = "'error'"> Dates is required. </label>
	        </td></tr>
	        <tr><td>Enter Days</td><td><input formControlName="days">
	             <label *ngIf="requestForm.get('days').invalid && processValidation" [ngClass] = "'error'"> Days is required. </label>
	        </td></tr>  
	        <tr><td>Enter Note</td><td><input formControlName="note">
	               <label *ngIf="requestForm.get('note').invalid && processValidation" [ngClass] = "'error'"> Note is required. </label> 
	        </td></tr>
	        <tr><td>Enter Reason</td><td><input formControlName="reason">
	               <label *ngIf="requestForm.get('reason').invalid && processValidation" [ngClass] = "'error'"> Reason is required. </label> 
	        </td></tr>
	        <tr><td>Enter Type</td><td><input formControlName="type" placeholder="should be connected to the select tag">
	               <label *ngIf="requestForm.get('type').invalid && processValidation" [ngClass] = "'error'"> Type is required. </label> 
	        </td></tr>
	        <tr><td>Enter User ID</td><td><input formControlName="user_id" placeholder="user id (should be automatic)">
	               <label *ngIf="requestForm.get('user_id').invalid && processValidation" [ngClass] = "'error'"> User ID is required. </label> 
	        </td></tr>
	        status and submit_time are always "pending" "*current_time*"
	        <tr><td colspan="2">
	          <button *ngIf="!requestIdToUpdate">CREATE</button>  
	          <button *ngIf="requestIdToUpdate">UPDATE</button>  
	          <button (click)="backToCreateRequest()" *ngIf="requestIdToUpdate">Go Back</button>  
	        </td></tr>
	      </table>
	    </form>

	    <div *ngIf="statusCode; else processing">
		    <div *ngIf="statusCode === 201" [ngClass] = "'success'">
			    Request added successfully.
		    </div>   
		    <div *ngIf="statusCode === 409" [ngClass] = "'success'">
		        Request already exists.
		    </div>   	
		    <div *ngIf="statusCode === 200" [ngClass] = "'success'">
		        Request updated successfully.
		    </div>   	      
		    <div *ngIf="statusCode === 204" [ngClass] = "'success'">
		        Request deleted successfully.
		    </div>   	   
		    <div *ngIf="statusCode === 500" [ngClass] = "'error'">
		        Internal Server Error.
		    </div>   	
		</div> -->

	</body>
</html>

<h1 *ngIf="!userService.isLogged" style="align-content: center; text-align: center; padding-top: 10%;"> 
You Have to be Logged In to Access this Page <br>
<a routerLink="/main-page" routerLinkActive="active" class="btn btn-primary">Home</a>
</h1>