<html>
	<body  *ngIf="userService.isLogged">
		<!--<div class="panel panel-default">
			<div class="panel-body"><a href="#">Home</a> / <a href="#">Requests</a> / Request</div>
		</div>-->
		<table class="table table-bordered table-striped">
			<tbody>
				<tr>
					<td scope="row" class="col-md-5"><a href="#">Home</a> / <a routerLink="/requests" routerLinkActive="active" class="btn btn-success">Requests</a> / Create Request
					
					<router-outlet></router-outlet></td>
				</tr>
			</tbody>
		</table>
	
		<h1>Create Request</h1>
	
		<table class="table borderless">
			<!--<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
				</tr>
			</thead>-->
			
			<tbody>
				<tr>
					<th scope="row">Absence Type</th>
				</tr>
				<tr>
					<td>
						<select scope="row selectpicker">
						  <option value="pto">PTO</option>
						  <option value="pto2">PTO2</option>
						  <option value="pto3">PTO3</option>
						  <option value="pto4">PTO4</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<th scope="row">Reason</th>
				</tr>
				<tr>
					<td>
						<textarea></textarea>
					</td>
				</tr>
				
				<tr>
					<th>Note</th>
				</tr>
				<tr>
					<td>
						<textarea></textarea>
					</td>
				</tr>
				
				<tr>
					<td align="center">
						<strong>PTO Left:</strong> 15
					</td>
				</tr>
				
				<tr>
					<th scope="row">Dates</th>
				</tr>
				<tr>
					<th scope="row">
						<div class="grey-panel">
						</div>
					</th>
				</tr>
			</tbody>
		</table>

		<b>Mail list</b>
		<br><br>
		<input type="text" value="">
 		<br><br>
		<a routerLink="/requests" routerLinkActive="active" class="btn btn-success">
			Create
		</a>
		
		<div class="calendar-info float-center">
			<strong>Info:</strong>
				<ul>
					<li>
						Click on <strong>EVERY</strong> date you want to select.
					</li>
				  
					<li>
						<font class="attention-text">red</font> colored are National Holidays (not working day).
					</li>
				  
					<li><font class="blue-text">blue</font> colored dates are special not working days, usually ignored in <a href="#">MentorMate.</a>
						<br>
						See instructions on how to book them in <a href="#">Confliuence</a>. 
					</li>
				</ul>
		</div>
	</body>
</html>


<h1 *ngIf="!userService.isLogged"> You Have to be Logged In to Access this Page </h1>