<div class="card" *ngIf="userService.isLogged">
	<table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td scope="row" class="col-md-5"><a routerLink="/main-page" routerLinkActive="active" class="btn btn-primary">Home</a> / <a routerLink="/user-page" routerLinkActive="active" class="btn btn-success">User Page</a> / <a routerLink="/requests-page" routerLinkActive="active" class="btn btn-primary">Requests</a> 

          
	      <a *ngIf="userService.isLogged" style="float: right;" routerLink="/login" routerLinkActive="active" class="btn btn-warning" (click)="userService.logout()">Logout</a>
	      <div style="float: right;"> &nbsp; </div>
	      <a *ngIf="userService.isLogged && userService.isAdmin" style="float: right;" routerLink="/user" routerLinkActive="active" class="btn btn-info">Add Users</a>
	      <a *ngIf="!userService.isLogged" style="float: right;" routerLink="/login" routerLinkActive="active" class="btn btn-warning" >Login</a>	
          <router-outlet></router-outlet></td>
        </tr>
      </tbody>
    </table>

	<img src="../../assets/images/img_avatar_man.png" alt="Avatar" style="width: 50%; align-content: center;">
	<div class="container">
	    <h3><b>User Type</b></h3> 
	    <p *ngIf="userService.isAdmin">System administrator</p> 
	    <p *ngIf="!userService.isAdmin">System employee</p>
  	</div>

  	<div class="statistics-panel" *ngFor="let user of allUsers"> 
  		<div *ngIf="user.userId==userService.loggedUserID">
		  	<div class="container">
			    <h4><b>Email</b></h4> 
			    <p>{{ user.email }}</p> 
		  	</div>
		  	<div class="container">
			    <h4><b>Password</b></h4> 
			    <p>{{ user.password }}</p> 
		  	</div>
	  	</div>
	</div>
	
	<a routerLink="/requests-page" routerLinkActive="active" class="btn btn-success">Requests</a>

	<router-outlet></router-outlet>

</div>


<h1 *ngIf="!userService.isLogged" style="align-content: center; text-align: center; padding-top: 10%;"> 
You Have to be Logged In to Access this Page <br>
<a routerLink="/main-page" routerLinkActive="active" class="btn btn-primary">Home</a>
</h1>
