<div *ngIf="userService.isAdmin">

  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td scope="row" class="col-md-5"><a routerLink="/main-page" routerLinkActive="active" class="btn btn-primary">Home</a> / <a routerLink="/user-page" routerLinkActive="active" class="btn btn-primary">User Page</a> / <a routerLink="/requests-page" routerLinkActive="active" class="btn btn-primary">Requests</a> / <a routerLink="/request-creation" routerLinkActive="active" class="btn btn-primary">Create Request</a>
        
        <a *ngIf="userService.isLogged" style="float: right;" routerLink="/login" routerLinkActive="active" class="btn btn-warning" (click)="userService.logout()">Logout</a>
        <div style="float: right;"> &nbsp; </div>
        <a *ngIf="userService.isLogged && userService.isAdmin" style="float: right;" routerLink="/user" routerLinkActive="active" class="btn btn-info">Add Users</a>
        <a *ngIf="!userService.isLogged" style="float: right;" routerLink="/login" routerLinkActive="active" class="btn btn-warning" >Login</a>
        <router-outlet></router-outlet></td>
      </tr>
    </tbody>
  </table>

  <div class="admin-user-panel" style="padding-top: 10%;">
    <h3 *ngIf="userIdToUpdate; else create" style="text-align: center;"> 
       Update User for Id: {{userIdToUpdate}}
    </h3>
    <ng-template #create>
       <h3  style="text-align: center;"> Create New User </h3>
    </ng-template>
    <div>
     <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()">
      <table>
        <tr><td>Enter Email</td><td><input formControlName="email">
    	       <label *ngIf="userForm.get('email').invalid && processValidation" [ngClass] = "'error'"> Email is required. </label>
       	</td></tr>
        <tr><td>Enter Password</td><td><input formControlName="password">
    	       <label *ngIf="userForm.get('password').invalid && processValidation" [ngClass] = "'error'"> Password is required. </label>
    	</td></tr>	
        <tr><td colspan="2">
    	    <button *ngIf="!userIdToUpdate">CREATE</button>  
    		  <button *ngIf="userIdToUpdate">UPDATE</button>  
    	    <button (click)="backToCreateUser()" *ngIf="userIdToUpdate">Go Back</button>  
    	</td></tr>
      </table>
     </form> 
     <br/>
     <div *ngIf="statusCode; else processing" style="text-align: center;">
       <div *ngIf="statusCode === 201" [ngClass] = "'success'">
    	    User added successfully.
       </div>   
       <div *ngIf="statusCode === 409" [ngClass] = "'success'">
            User already exists.
       </div>   	
       <div *ngIf="statusCode === 200" [ngClass] = "'success'">
            User updated successfully.
       </div>   	      
       <div *ngIf="statusCode === 204" [ngClass] = "'success'">
            User deleted successfully.
       </div>   	   
       <div *ngIf="statusCode === 500" [ngClass] = "'error'">
            Internal Server Error.
       </div>   	
     </div>
     <ng-template #processing>
    	<img *ngIf="requestProcessing" src="assets/images/loading.gif">
     </ng-template>
    </div>
    <h3 style="text-align: center;">User Details</h3>
    <table>
      <tr><th> Id</th> <th>Email</th><th>Password</th><th></th><th></th></tr>
      <tr *ngFor="let user of allUsers" >
        <td>{{user.userId}}</td> <td>{{user.email}}</td> <td>{{user.password}}</td>
    	<td><button type="button" (click)="loadUserToEdit(user.userId)">Edit</button> </td> 
    	<td><button type="button" (click)="deleteUser(user.userId)">Delete</button></td>
      </tr>
    </table>
  </div>
</div>

<h1 *ngIf="!userService.isLogged" style="align-content: center; text-align: center; padding-top: 10%;"> 
You Have to be an Admin to Access this Page <br>
<a routerLink="/main-page" routerLinkActive="active" class="btn btn-primary">Home</a>
</h1>