<div class="card">
	<img src="../../assets/images/img_avatar_man.png" alt="Avatar" style="width:30%">
	<div class="container">
	    <h3><b>John Doe</b></h3> 
	    <p>Architect & Engineer</p> 
  	</div>
  	<div class="statistics-panel">
	  	<div class="container">
		    <h4><b>Email</b></h4> 
		    <p>john.doe@gmail.com</p> 
	  	</div>
	  	<div class="container">
		    <h4><b>PIN</b></h4> 
		    <p>9912344556</p> 
	  	</div>
	  	<div class="container">
		    <h4><b>Password</b></h4> 
		    <p>***********</p> 
	  	</div>
	</div>
</div>
