<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <a routerLink="/register" routerLinkActive="active">Register A New User (Admin Option)</a>
    <a routerLink="/calendar" routerLinkActive="active">Calendar Component</a>
    <a routerLink="/main-page" routerLinkActive="active">Main</a>
    <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
    <a routerLink="/user-page" routerLinkActive="active">User Page</a>
    <a routerLink="/requests" routerLinkActive="active">Requests</a>

    <div id="navbar" class="collapse navbar-collapse">

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown">
                    Log In 
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">

                    <app-login></app-login>

                </ul>

            </li>

        </ul>

    </div>
</nav>

<router-outlet></router-outlet>