<a routerLink="/user" routerLinkActive="active">Admin User Registration</a>
/
<a routerLink="/login" routerLinkActive="active">Login</a>
/
<a routerLink="/main-page" routerLinkActive="active">Main Page</a>
/
<a routerLink="/requests-page" routerLinkActive="active">Requests Page</a>
/
<a routerLink="/calendar" routerLinkActive="active">Calendar</a>
/
<a routerLink="/request-creation" routerLinkActive="active">Request Creation</a>

<router-outlet></router-outlet>

<!--
<div *ngIf="userService.isLogged && userService.isAdmin">
    <app-user> </app-user>
</div>

<div *ngIf="!userService.isLogged">
    <app-login> </app-login>
</div>
-->