.card {
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    border-radius: 0.5rem;
    margin: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.card:hover {
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.container {
    padding: 0.2rem 1.6rem;
}